@tailwind base;
@tailwind components;
@tailwind utilities;

/* animations */
@keyframes appears {
    0% {
        translate: 0 -30%;
        opacity: 0;
        scale: 1.2;
    }
    100% {
        translate: 0;
        opacity: 1;
        scale: 1;
    }
}
.appears-500 {animation: appears .6s ease forwards;}
.disappears-500 {animation: appears .6s ease reverse;}

@layer components {
    
    .editorjs h2 {
        @apply text-xl font-semibold;
    }
    .editorjs h3 {
        @apply text-lg;
    }
    .editorjs p {
        @apply text-base;
    }
    .editorjs ul {
        @apply list-inside list-disc;
    }
    .editorjs img {
        @apply w-full object-cover;
    }

}

