{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Keiner Tiptap test |{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    {% block script %}{% endblock script %}
</head>
<body class="mx-auto w-full max-w-screen-2xl min-h-screen">
    <div hx-get="{% url 'post_list' %}" hx-trigger="load from:body"  hx-swap="outerHTML transition:true"></div>
    {% include "core/partials/toast.html" %}
    {% block content %}{% endblock content %}
</body>
</html>